.input {
    font-size: 14px;
    line-height: 20px;
    &:global {
        &.ant-input, &.ant-input-password {
            padding: 10px 16px;
        }

    }
}

.password {
    font-size: 14px;
    line-height: 20px;
    &:global {
        &.ant-input-password {
            padding: 10px 16px;
        }
    }
}