

.wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 6px;
}

.value {
    font-weight: 600;
    color: #000;

}

.label {
    font-size: 14px;
    color: #5b5b5b;
}