.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 64px 30px;
    border-radius: 16px;
    flex-direction: column;
}

.title {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #57595B;
    margin-top: 12px;
}