.loader {
    &, & &  {
        height: 118px;
        border-radius: 8px;
        min-width: 100%;
        &:global {
            &.ant-skeleton-button {
                height: 118px;
                border-radius: 8px;
                min-width: 100%;
            }
        }
    }
}