.workspaceContainer {
    
    margin: unset;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.workspace {
    padding-top: 26px;
    padding-bottom: 26px;
    flex-grow: 1;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    max-height: 100%;
}

.row {
    display: flex;
    max-height: 100%;
    flex-grow: 1;
    overflow: hidden;
}