
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.wrapper {
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #ababab;
}

.icon {
    margin-right: 12px;
    display: flex;
    font-size: 19px;
}