@import "/src/variables";

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #667085;
    margin-bottom: 16px;
}
.checkAll {
    color: $primaryColor;
    font-size: 12px;
    margin-left: 8px;
    font-weight: 400;
    &:hover {
        cursor: pointer;
    }
}

.item {
    margin-bottom: 24px;
    &:last-child {
        margin-bottom: 0;
    }
}

.checkboxZone {
    display: flex;
    flex-direction: column;
    :global {
        .ant-form-item {
            margin-bottom: 0;
        }
    }
}

.confText {
    display: flex;
    gap: 4px;
    align-items: center;
}