@import '/src/_variables.scss';

.wrapper {

}



.created {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #9f9f9f;
}

.empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .image {
        height: 152px;
        width: 152px;
    }
    .text {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #3F464F;
    }
}

.collapse {
    &:global {
        &.ant-collapse {
            background: #fff;
            border: unset;
            .ant-collapse-content {
                .ant-collapse-content-box {
                    padding-top:0;
                    padding-left:40px;
                }
                &.ant-collapse-content-active {
                    border: unset;
                }
            }
            .ant-collapse-item {
                border-radius: 0;
                border-bottom: 1px solid #F2F4F7;
            }
            .ant-collapse-content-box {
                border: unset;
            }
        }
    }
}