

.wrapper {
    background: #FFFFFF;
    border: 1px solid #F2F4F7;
    border-radius: 8px;
    padding: 20px;
}


.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 24px;
}

.desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #667085;
    margin-top: 4px;
}