@import '/src/variables';

.wrapper {
    background: #fff;
    min-width: 520px;
    max-width: 520px;
    border-left: 1px solid #E4E7EC;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}
.topBar {
    padding: 12px 16px;
}
.title {
    padding: 12px 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    a {
        
        text-decoration: none;
        color: $primaryColor;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        padding: 6px 16px;
        border: 1px solid $primaryColor;
        border-radius: 4px;
    }
}

.desc {
    padding: 8px 24px 24px 24px;
    .content {
        border: 1px solid #D0D5DD;
        border-radius: 8px;
        background-color: #F9FAFB;
        padding: 16px;
        display: flex;
        gap: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        svg {
            width: 24px;
            height: 24px;
        }
        ol {
            padding-left: 20px;
            margin: 0;
        }
    }
    .text {
        display: flex;
        flex-direction: column;
    }
}

.markupsTitle {
    margin-bottom: 8px;
    padding: 0 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}